<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Portrino HybridAuth - TYPO3</label>
    <label lang="en">Portrino HybridAuth - TYPO3</label>

    <version>1.1.0</version>
    <copyright>(c) by portrino GmbH</copyright>
    <license>MIT</license>
    <description lang="de">
        Dieses Plugin erlaubt die Authentifierung/ Registrierung von Kunden mittels eines TYPO3 Benutzerkontos.
    </description>
    <description lang="en">
        This plugin allows the authentication/ registration of customers using a TYPO3 account.
    </description>

    <link>http://www.portrino.de/</link>
    <author>portrino GmbH</author>
    <compatibility minVersion="5.2.0" />

    <changelog version="1.1.1">
        <changes lang="de">
            Open Source Release on GitHub.
        </changes>
        <changes lang="en">
            Open Source Release on GitHub.
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            [FEATURE] Verarbeitung des Firmennamens im OAuth2 Profile-Endpoint hinzugefügt
            [FEATURE] OAuth2 Profile-Request-Fields können nun via Plugin-Konfiguration überschrieben werden
            [TASK] Refactoring des Typo3 Provider-Endpoints
        </changes>
        <changes lang="en">
            [FEATURE] Adds company retrieval in oauth2 profile endpoint parsing
            [FEATURE] Allow override of oauth2 profile request fields in plugin configuration
            [TASK] Refactoring of Typo3 provider endpoint
        </changes>
    </changelog>

    <changelog version="1.0.7">
        <changes lang="de">
            [FEATURE] Feld für Benutzerregistrierung (extern) Endpunkt/ URL in Plugin-Konfiguration hinzugefügt
            [FEATURE] Feld für zusätzliche CSS Klasse für Login/ Register Buttons in Plugin-Konfiguration hinzugefügt
        </changes>
        <changes lang="en">
            [FEATURE] Adds field for (external) user registration endpoint/ URL in plugin configuration
            [FEATURE] Adds field for additional css class for login/ register buttons in plugin configuration
        </changes>
    </changelog>

    <changelog version="1.0.6">
        <changes lang="de">
            [BUGFIX] Override-Funktion Typo3OAuth2Client->authorizeUrl() hinzugefügt, um eine korrekte Generierung des Query-Strings der Authorize URL zu gewährleisten
        </changes>
        <changes lang="en">
            [BUGFIX] Adds override-function Typo3OAuth2Client->authorizeUrl() to guarantee the correct generation of the query string of the authorize url
        </changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">
            [BUGFIX] Label für das Social-Identity Feld in den Kundendetails im Backend hinzugefügt
        </changes>
        <changes lang="en">
            [BUGFIX] Adds label for the social identity field in the customer details view in the backend
        </changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="de">
            [FEATURE] Prüfe auf einen angepassten Identifier in getUserDetails() der Typo3 Provider Klasse
        </changes>
        <changes lang="en">
            [FEATURE] Check for customized user identifier in getUserDetails() of Typo3 provider class
        </changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de">
            [BUGFIX] Fehlender User Profile OAuth2 Endpunkt/ URL in Plugin-Konfiguration hinzugefügt
        </changes>
        <changes lang="en">
            [BUGFIX] Added missing User Profile OAuth2 endpoint/ URL in plugin configuration
        </changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">
            [TASK] Einstellbare OAuth2 Endpunkte/ URLs in der Plugin-Konfiguration hinzugefügt
            [TASK] Aktiviere/ kopiere TYPO3 HybridAuth Provider Klassen nach Port1HybridAuth während der Plugin-Installation
        </changes>
        <changes lang="en">
            [TASK] Added adjustable OAuth2 endpoints/ URLs in plugin configuration
            [TASK] Activate/ copy TYPO3 HybridAuth Provider classes into Port1HybridAuth during the plugin installation
        </changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">
            [BUGFIX] fehlende Typo3Login frontend controller class hinzugefügt
        </changes>
        <changes lang="en">
            [BUGFIX] adds missing Typo3Login frontend controller class
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">
            Veröffentlichung
        </changes>
        <changes lang="en">
            Release
        </changes>
    </changelog>
</plugin>