<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <!--

        General

        -->

        <element type="boolean" scope="shop">
            <name>general_force_sso</name>
            <label lang="en">General :: Force Single Sign-On</label>
            <label lang="de">General :: Single Sign-On erzwingen</label>
            <value>false</value>
            <description lang="en">
                The shop can only be viewed with an active login session. Therefor the user will be forced to authenticate
                using the selected OAuth2 Provider in the plugin configuration.
            </description>
            <description lang="de">
                Der Shop kann nur mit einer aktiven Login-Session angezeigt werden. Deshalt wird der Benutzer gezwungen
                sich mittels dem in der Plugin Konfiguration ausgewählten OAuth2 Anbieter zu authentifizieren.
            </description>
        </element>

        <!--

        TYPO3 OAuth

        -->

        <element type="boolean" scope="shop">
            <name>typo3_enabled</name>
            <label lang="en">TYPO3 :: Enabled</label>
            <label lang="de">TYPO3 :: Aktiviert</label>
            <description lang="en">
                Activate TYPO3 OAuth login?
            </description>
            <description lang="de">
                TYPO3 OAuth Login aktivieren?
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_keys_id</name>
            <label lang="en">TYPO3 :: Client-ID</label>
            <label lang="de">TYPO3 :: Client-ID</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_keys_secret</name>
            <label lang="en">TYPO3 :: Client Secret</label>
            <label lang="de">TYPO3 :: Client Secret</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_urls_apibase</name>
            <label lang="en">TYPO3 :: API Base URL</label>
            <label lang="de">TYPO3 :: API Base URL</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_urls_authorize</name>
            <label lang="en">TYPO3 :: Authorize URL</label>
            <label lang="de">TYPO3 :: Authorize URL</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_urls_token</name>
            <label lang="en">TYPO3 :: Token URL</label>
            <label lang="de">TYPO3 :: Token URL</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_urls_userprofile</name>
            <label lang="en">TYPO3 :: User Profile URL</label>
            <label lang="de">TYPO3 :: User Profile URL</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <element type="text" scope="shop">
            <name>typo3_fields</name>
            <label lang="en">TYPO3 :: User Profile Request Fields (Override)</label>
            <label lang="de">TYPO3 :: User Profile Request Fields (Override)</label>
            <description lang="en">
                Default: uid,name,first_name,last_name,email,address,zip,city,company
            </description>
            <description lang="de">
                Default: uid,name,first_name,last_name,email,address,zip,city,company
            </description>
        </element>

        <!--

        TYPO3 Misc

        -->

        <element type="text" scope="shop">
            <name>typo3_urls_userregistration</name>
            <label lang="en">TYPO3 :: User Registration URL (external)</label>
            <label lang="de">TYPO3 :: User Registration URL (external)</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

        <!--

        Misc

        -->

        <element type="text" scope="shop">
            <name>misc_login_register_button_css_class</name>
            <label lang="en">Misc :: Additional Login/ Register Button CSS Class</label>
            <label lang="de">Misc :: Additional Login/ Register Button CSS Class</label>
            <description lang="en">
            </description>
            <description lang="de">
            </description>
        </element>

    </elements>
</config>